body {
  font-family: arial, sans-serif;
}
h1 {
  color: #878787;
  font-size: 25px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0;
}
.weather-app {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
  border: 1px solid #d9dce0;
  border-radius: 7px;
}
small {
  color: #878787;
}
li {
  list-style: none;
  color: rgb(135, 135, 135);
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}
ul {
  padding: 0;
  margin: 0;
}
